/*corpo*/

html, body {
    min-height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    background: linear-gradient(rgb(187, 214, 255), rgb(87, 174, 255));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*titulo*/

#titulo {
    background-color: aliceblue;
    border-radius: 20px;
}

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 9vh;
    color:rgb(18, 73, 156);
}

/*Botões*/

#bolas {
    width: 25vh;
    height: 100%;
    margin-top: 5vh;
}

#bolas2 {
    width: 25vh;
    height: 100%;
    margin-top: 5vh;
    
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 15vh;
}

#python {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;            
    width: 25vh;
    height: 30vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vh;
    border: 0;
    border-radius: 4vh;
    color: rgb(222, 240, 255);
    cursor: pointer;
    transition: transform 0.3s;
    background: linear-gradient(
        to bottom,
        white 65%,
        rgb(70, 194, 243) 35%
    );
    box-shadow: 0px 4px 10px rgb(39, 145, 187);
    padding-bottom: 3vh;
    padding-top: 2vh;
    z-index: 2

}


#css {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;            
    width: 25vh;
    height: 30vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vh;
    border: 0;
    border-radius: 4vh;
    color: rgb(222, 240, 255);
    cursor: pointer;
    transition: transform 0.3s;
    background: linear-gradient(
        to bottom,
        white 65%,
        rgb(46, 105, 231) 35%
    );
    box-shadow: 0px 4px 10px rgb(26, 78, 190);
    padding-bottom: 3vh;
    padding-top: 2vh;
    z-index: 2;
}


#html {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;            
    width: 25vh;
    height: 30vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vh;
    border: 0;
    border-radius: 4vh;
    color: rgb(222, 240, 255);
    cursor: pointer;
    transition: transform 0.3s;
    background: linear-gradient(
        to bottom,
        white 65%,
        rgb(45, 161, 228) 35%
    );
    box-shadow: 0px 4px 10px rgb(22, 128, 189);
    padding-bottom: 3vh;
    padding-top: 2vh;
    z-index: 2;
}

#python:hover {
    transform: scale(1.1);
}

#html:hover {
    transform: scale(1.1);
}

#css:hover {
    transform: scale(1.1);
}

/*Espaço*/

#espaço {
    height: 15vh;
}

/*Explicação*/

#cantos {
    width: 36vh;
    position: absolute;

    top: 0px;
    left: 0px;
}

#cantos2 {
    width: 36vh;
    position: absolute;

    bottom: 0px;
    right: 0px;
}

#explicação {
    background-color: white;
    display: flex;
    gap: 30vh;
    justify-content: center;
    align-items: center;
    padding: 3vh;
    position: relative;
}

#Resumos {
    background: linear-gradient(
        to bottom,
        rgb(28, 65, 228) 25%,
        white 25%
    );
    border-radius: 10%;
    height: 31vh;
    width: 30vh;
    text-align: center;
    box-shadow: 0px 4px 10px rgb(28, 65, 228);
}

#Questões {
    background: linear-gradient(
        to bottom,
        rgb(28, 65, 228) 25%,
        white 25%
    );
    border-radius: 10%;
    height: 31vh;
    width: 30vh;
    text-align: center;
    box-shadow: 0px 4px 10px rgb(28, 65, 228);
}

#T1 {
    font-size: 4vh;
    color: white;
    margin-top: -1px;
    margin-top: 12px;
}

#T2 {
    font-size: 4vh;
    color: white;
    margin-top: -1px;
    margin-top: 12px;
}

#Tx1 {
    font-size: 2vh;
    margin-top: -20px;
    color: rgb(22, 51, 179);
    font-weight: 600;
    margin-left: 3vh;
    margin-right: 3vh;
}

#Tx2 {
    font-size: 2vh;
    margin-top: -5px;
    color: rgb(22, 51, 179);
    font-weight: 600;
    margin-left: 3vh;
    margin-right: 3vh;
}





/*Imagens*/

#pythonI {
    width: 15vh;
}

#htmlI {
    width: 15vh;
}

#cssI {
    width: 15vh;
}
