
#resumos {
    display: none;
}

/*Estilo*/

/*Fundo*/

body {
    background-color: rgb(255, 255, 150);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Titulo da página*/

h1 {
    background-color: white;
    color: rgb(28, 49, 109);
    font-size: 9vh;
}


#texto1 {
    color: rgb(28, 49, 109);
    text-decoration: underline;
    font-size: 5vh;
}

.textos {
    text-align: center;
}

/*primeiros botoes*/

#botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    gap: 20vh;
    background-color: white;
    height: 35vh;
}

#Bresumos {
    width: 30vh;  
    height: 25vh;
    text-align: start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vh;
    border: 0vh white;
    border-radius: 4vh;
    background-color: rgb(231, 182, 45);
    color:rgb(222, 240, 255);
    cursor: pointer;
}

#questionario {
    width: 30vh;  
    height: 25vh;
    text-align: start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vh;
    border: 0vh white;
    border-radius: 4vh;
    background-color: rgb(25, 63, 107);
    color:rgb(222, 240, 255);
    cursor: pointer;
}

#Bresumos:hover {
    transform: scale(1.1);
}

#questionario:hover {
    transform: scale(1.1);
}

/*Botões Resumo*/

#resumos {
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    gap: 20vh;
    background-color: white;
    height: 35vh;
}

#resumo1 {
    width: 25vh;  
    height: 20vh;
    text-align: start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vh;
    border: 0vh white;
    border-radius: 4vh;
    background-color: rgb(199, 146, 1);
    color: white;
    cursor: pointer;
}

#resumo2 {
    width: 25vh;  
    height: 20vh;
    text-align: start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vh;
    border: 0vh white;
    border-radius: 4vh;
    background-color: rgb(224, 172, 27);
    color: white;
    cursor: pointer;
}

#resumo3 {
    width: 25vh;  
    height: 20vh;
    text-align: start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vh;
    border: 0vh white;
    border-radius: 4vh;
    background-color: rgb(255, 200, 49);
    color: white;
    cursor: pointer;
}

#voltar {
    width: 25vh;  
    height: 20vh;
    text-align: start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vh;
    border: 0vh white;
    border-radius: 4vh;
    background-color: rgb(255, 207, 76);
    color: white;
    cursor: pointer;
}

#resumo1:hover {
    transform: scale(1.1);
}

#resumo2:hover {
    transform: scale(1.1);
}

#resumo3:hover {
    transform: scale(1.1);
}

#voltar:hover {
    transform: scale(1.1);
}